{# <ol>{% for key, value in _context %}<li>{{ key }}</li> {% endfor %} </ol>#}
{#{{ dump(product_option) }}#}

<h1>Информация о товаре</h1>
<div class="table-responsive">
    <table id="link_list" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in product %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h1>Атрибуты</h1>
<div class="table-responsive">
    <table id="link_list" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in attr %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h1>Опции</h1>
<div class="table-responsive">
    <table id="link_list" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in product_option %}
            <tr>
                <td>{{ value["name"] }}</td>
                <td>{{ value["value"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h1>
    картинки
</h1>
<div class="table-responsive">
    <table id="link_list" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Картинка</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in images %}
            <tr>
                <td>{{ key }}</td>
                <td><img src="{{ value }}"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
