{# {{ dump(products)}} #}
{# <ol>{% for key, value in _context %}<li>{{ key }}</li> {% endfor %} </ol> #}

{{ header }}{{ column_left }}
<div id="content">
    <!-- ========== HEADER ========== -->
    <div class="page-header">
        <div class="container-fluid">

            <div class="pull-right">
                {# <button type="submit" form="form-grab" data-toggle="tooltip" title="{{ button_save }}" #}
                {# class="btn btn-primary"><i class="fa fa-save"></i></button> #}
                {# <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"> #}
                {# <i class="fa fa-reply"></i></a> #}
                {# <button id="start_grab" type="submit" data-toggle="tooltip" class="btn btn-success" #}
                {# data-original-title="Старт сканирования"> #}
                {# <i class="fa fa-play" aria-hidden="true"></i> #}
                {# </button> #}
                {# <button id="stop_grab" type="submit" data-toggle="tooltip" class="btn btn-warning" #}
                {# data-original-title="Остановить сканирование"> #}
                {# <i class="fa fa-stop" aria-hidden="true"></i> #}
                {# </button> #}
            </div>
            <h1>{{ heading_title }}</h1>
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- /header -->
    <!-- ========== CONTENT ========== -->
    <div class="container-fluid">
        {% if (error) %}
            <div class="alert alert-danger">
                <i class="fa fa-info-circle"></i>{{ error }}
            </div>
        {% elseif (success) %}
            <div class="alert alert alert-success">
                <i class="fa fa-info-circle"></i>{{ success }}
            </div>
        {% endif %}
        <div class="alert alert alert-success" hidden id="msg">
            <i class="fa fa-info-circle"></i>{{ ' Сканирование завершено' }}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading">
                    <!-- NAVIGATION -->
                    <ul class="nav nav-tabs">
                        {% for page in pages %}
                            <li role="presentation" class="{{ page['active'] }}">
                                <a href="{{ page['href'] }}" id="home-tab" role="tab" aria-controls="home"
                                   aria-expanded="true">
                                    {{ page['title'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" id="form_del" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_file" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_seve_link_round"
                      class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_seve_link" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <!-- прогрессбар -->
                            <div id="progress" class="form-group" hidden>
                                <label class="col-sm-2 control-label">Раскрываем группы</label>
                                <div class="col-sm-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                             style="width: 10%">
                                            <span id="info_count" class="show">Анализ ...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label id="lol" for="input-pr">Проект<span data-toggle="tooltip"
                                                                               data-original-title="Название проекта"></span></label>
                                    <input name="dn_name" type="text" value="{{ name }}" id="input-pr"
                                           class="form-control" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div>
                                        <label for="filter_link_domain">Импорт ссылок из файла<span
                                                    data-toggle="tooltip"
                                                    data-original-title="Для загрузки ссылок вам необходимо выбрать xlsx-файл со следующей структурой:<br> Лист <Группы> с колонками <Категория>, <ссылка>,<Категория 1С>.<br>Лист <Товары> с той же структурой."></span>
                                        </label>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <label class="input-group-btn">
                                                        <input name="import" type="file" form="form_file"
                                                               class="main_input_file"/>
                                                        <div class="btn btn-default">Выбрать файл…</div>
                                                    </label>
                                                    <input type="text" class="form-control" id="import"
                                                           value="Файл не выбран."
                                                           readonly>
                                                    <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" form="form_file" name="file" value="file_links">
                      <i class="fa fa-download" aria-hidden="true"></i> Импортировать ссылки
                    </button>
                  </span>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $(".main_input_file").change(function () {
                                                            var f_name = [];
                                                            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                                                                f_name.push(" " + $(this).get(0).files[i].name);
                                                            }
                                                            $("#import").val(f_name.join(", "));
                                                            $("#import").attr("value", $("#import").val());
                                                        });
                                                    });
                                                </script>
                                                <style>
                                                    input[type="file"] {
                                                        display: none;
                                                    }
                                                </style>
                                            </div>

                                            <button type="submit" id="del_mark_link" name="del_mark_link"
                                                    class="btn btn-warning"
                                                    onclick="return confirm('Вы уверены что хотите удалить помеченные ссылки на товары?\n\nОперация необратима!')">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Удалить помеченные
                                            </button>
                                            <button type="submit" name="del_finish_link" class="btn btn-danger"
                                                    form="form_del"
                                                    onclick="return confirm('Вы уверены что хотите удалить все ссылки на товары?\n\nОперация необратима!')">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Удалить все
                                            </button>
                                        </div>
                                    </div>

                                    <label for="links">Очередь сканирования ссылок<span data-toggle="tooltip"
                                                                                        data-original-title="В этом поле записываются ссылки по которым будет ходить модуль в поиске ссылок на товар."></span>
                                    </label>

                                    <div class="table-responsive">
                                        <table id="link_list" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <td style="width: 1px;" class="text-center">
                                                    <input type="checkbox"
                                                           onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                                </td>
                                                <td class="text-center">
                                                    {% if sort == 'id' %}
                                                        <a href="{{ sort_id }}"
                                                           class="{{ order|lower }}">column_id{{ column_id }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_id }}">id {{ column_id }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'category_list' %}
                                                        <a href="{{ sort_category_list }}"
                                                           class="{{ order|lower }}">column_category_list {{ column_category_list }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_category_list }}">category_list {{ column_category_list }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'link' %}
                                                        <a href="{{ sort_link }}"
                                                           class="{{ order|lower }}">{{ column_link }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_link }}">link{{ column_link }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'category1c' %}
                                                        <a href="{{ sort_category1c }}"
                                                           class="{{ order|lower }}">{{ column_category1c }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_category1c }}">category1c{{ column_category1c }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'is_group' %}
                                                        <a href="{{ sort_is_group }}"
                                                           class="{{ order|lower }}">column_is_group {{ column_is_group }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_is_group }}">is_group {{ column_is_group }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'status' %}
                                                        <a href="{{ sort_status }}"
                                                           class="{{ order|lower }}">column_status {{ column_status }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_status }}">status {{ column_status }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">action {{ column_action }}</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if (links) %}
                                                {% for link in links %}
                                                    <tr class="{{ link['class'] }}">
                                                        <td class="text-center">
                                                            {% if link.id in selected %}
                                                                <input type="checkbox" name="selected[]"
                                                                       value="{{ link.id }}" checked="checked"/>
                                                            {% else %}
                                                                <input type="checkbox" name="selected[]"
                                                                       value="{{ link.id }}"/>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">{{ link.id }}</td>
                                                        <td class="text-left">{{ link.category_list }}</td>
                                                        <td class="text-left">
                                                            <a target="_blank"
                                                               href="{{ link.link }}">{{ link.link }}</a>
                                                        </td>
                                                        <td class="text-left">{{ link.category1c }}</td>
                                                        <td class="text-left">{{ link.is_group }}</td>
                                                        <td class="text-left"
                                                            title="{{ link.message }}">{{ link.status }}</td>
                                                        <td class="text-right">
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                                        <div class="col-sm-6 text-right">{{ results }}</div>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <label for="link_round">Какие ссылки показывать<span data-toggle="tooltip"
                                                                                         data-original-title="Фильтация ссылок"></span></label>


                                    {% for key, linkFilter in linkFilters %}
                                    <a href="{{ href }}{{ key }}">

                                        <p>
                                            <input type="radio" name="status"
                                                   value="{{ key }}" {{ linkFilter['checked'] }}
                                                   class="subForm">
                                            <label>{{ key }}:&nbsp;{{ linkFilter['name'] }} ({{ linkFilter['count'] }}
                                                )</label>
                                            {% endfor %}
                                        </p>
                                    </a>
                                    <div class="form-group col-sm-11">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <input type="text" value="{{ search_text }}" name="search_text" class="form-control">
                                                <button type="submit" name="search_button" data-toggle="tooltip"
                                                        class="btn btn-success"
                                                        data-original-title="Найти по подстроке"
                                                        title="Искать по видимым полям по подстроке">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                    <hr>
                                    <button id="start_grab" type="button" data-toggle="tooltip" class="btn btn-success"
                                            data-original-title="Старт сканирования"
                                            title="Заменить ссылки на группы ссылками на все товары из этих групп"
                                            onclick="startGrab();">
                                        <i class="fa fa-play" aria-hidden="true"></i> Раскрыть группы
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .progress {
        position: relative;
        margin-top: 9px;
    }

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

    .float-right {
        float: right !important;
    }

    label > span:after {
        font-family: FontAwesome;
        color: #1E91CF;
        content: "\f059";
        margin-left: 4px;
    }
</style>
<script>
    function startGrab() {
        $("#progress").show();
        ajaxpars();
    }

    function ajaxpars() {
        $.ajax({
            url: '{{ ajax_link }}',
            dataType: 'json',
            type: "POST",
            success: function (answ) {
                console.log(answ);
                if (answ.status == 'go') {
                    $("#info_count").text("Просканированно " + answ.link_product_count + " | В очереди " + answ.link_group_count)
                    $('.progress-bar').width((1 - answ.link_group_count / (answ.link_product_count + answ.link_group_count)) * 100 + '%');
                    ajaxpars();
                } else if (answ.status == 'link_end') {
                    $("#msg").text(answ.msg);
                    $("#msg").show();
                    $("#progress").hide();
                } else if (answ.status == 'finish') {
                    $("#msg").text(answ.msg);
                    $("#msg").show();
                    $("#progress").hide();
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            }
        });
    };
</script>
{{ footer }}