{# <pre> #}
{# {{ dump(products)}} #}
{# </pre> #}
{# <ol>{% for key, value in _context %}<li>{{ key }}</li> {% endfor %} </ol> #}

{{ header }}{{ column_left }}
<div id="content">
    <!-- ========== HEADER ========== -->
    <div class="page-header">
        <div class="container-fluid">

            <div class="pull-right">
                {# <button type="submit" form="form-grab" data-toggle="tooltip" title="{{ button_save }}" #}
                {# class="btn btn-primary"><i class="fa fa-save"></i></button> #}
                {# <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"> #}
                {# <i class="fa fa-reply"></i></a> #}
                {# <button id="start_grab" type="submit" data-toggle="tooltip" class="btn btn-success" #}
                {# data-original-title="Старт сканирования"> #}
                {# <i class="fa fa-play" aria-hidden="true"></i> #}
                {# </button> #}
                {# <button id="stop_grab" type="submit" data-toggle="tooltip" class="btn btn-warning" #}
                {# data-original-title="Остановить сканирование"> #}
                {# <i class="fa fa-stop" aria-hidden="true"></i> #}
                {# </button> #}
            </div>
            <h1>{{ heading_title }}</h1>
            <!-- BREADCRUMBS -->
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- /header -->
    <!-- ========== CONTENT ========== -->
    <div class="container-fluid">
        {% if (error) %}
            <div class="alert alert-danger">
                <i class="fa fa-info-circle"></i>{{ error }}
            </div>
        {% elseif (success) %}
            <div class="alert alert alert-success">
                <i class="fa fa-info-circle"></i>{{ success }}
            </div>
        {% endif %}
        <div class="alert alert alert-success" hidden id="msg">
            <i class="fa fa-info-circle"></i>{{ ' Сканирование завершено' }}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-heading">
                    <!-- NAVIGATION -->
                    <ul class="nav nav-tabs">
                        {% for page in pages %}
                            <li role="presentation" class="{{ page['active'] }}">
                                <a href="{{ page['href'] }}" id="home-tab" role="tab" aria-controls="home"
                                   aria-expanded="true">
                                    {{ page['title'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" id="form_clear" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_file" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_export_1c" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form_export_old" class="form-horizontal"></form>
                <form method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <!-- прогрессбар -->
                            <div id="progress" class="form-group" hidden>
                                <label class="col-sm-2 control-label">Раскрываем группы</label>
                                <div class="col-sm-10">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                             style="width: 10%">
                                            <span id="info_count" class="show">Анализ ...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label id="lol" for="input-pr">Проект<span data-toggle="tooltip"
                                                                               data-original-title="Название проекта"></span></label>
                                    <input name="dn_name" type="text" value="{{ name }}" id="input-pr"
                                           class="form-control" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div>
                                        <label for="filter_link_domain">Импорт из прайса<span
                                                    data-toggle="tooltip"
                                                    data-original-title="Для загрузки выберите Эксел-файл со структурой, соответствующей настройкам на закладке <b>Настройка импорта</b>"></span>
                                        </label>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <label class="input-group-btn">
                                                        <input name="import" type="file" form="form_file"
                                                               class="main_input_file"/>
                                                        <div class="btn btn-default">Выбрать файл…</div>
                                                    </label>
                                                    <input type="text" class="form-control" id="import"
                                                           value="Файл не выбран."
                                                           readonly>
                                                    <span class="input-group-btn">
                    <button class="btn btn-success" type="submit" form="form_file" name="file" value="file_links">
                      <i class="fa fa-download" aria-hidden="true"></i> Импорт
                    </button>
                  </span>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $(".main_input_file").change(function () {
                                                            var f_name = [];
                                                            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                                                                f_name.push(" " + $(this).get(0).files[i].name);
                                                            }
                                                            $("#import").val(f_name.join(", "));
                                                            $("#import").attr("value", $("#import").val());
                                                        });
                                                    });
                                                </script>
                                                <style>
                                                    input[type="file"] {
                                                        display: none;
                                                    }
                                                </style>
                                            </div>

                                            <button type="submit" name="clear_mark"
                                                    class="btn btn-warning"
                                                    onclick="return confirm('Вы уверены что хотите очистить дополнительные поля для помеченных товаров?\n\nОперация необратима!')">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Очистить помеченные
                                            </button>
                                            <button type="submit" name="clear_all" class="btn btn-danger"
                                                    onclick="return confirm('Вы уверены что хотите очистить дополнительные поля для ВСЕХ товаров?\n\nОперация необратима!')">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Очистить все
                                            </button>

                                        </div>
                                    </div>


                                    <label for="links">Продукты<span data-toggle="tooltip"
                                                                     data-original-title="Список просканированных товаров"></span>
                                    </label>

                                    <div class="table-responsive">
                                        <table id="link_list" class="table table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <td style="width: 1px;" class="text-center">
                                                    <input type="checkbox"
                                                           onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                                </td>
                                                <td class="text-center">
                                                    {% if sort == 'sku' %}
                                                        <a href="{{ sort_sku }}"
                                                           class="{{ order|lower }}">column_sku{{ column_sku }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_sku }}">sku {{ column_sku }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'name' %}
                                                        <a href="{{ sort_name }}"
                                                           class="{{ order|lower }}">{{ column_name }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_name }}">{{ entry_name_product }}{{ column_name }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'barcode' %}
                                                        <a href="{{ sort_barcode }}"
                                                           class="{{ order|lower }}">column_barcode {{ column_barcode }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_barcode }}">{{ entry_barcode }} {{ column_barcode }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'weight' %}
                                                        <a href="{{ sort_weight }}"
                                                           class="{{ order|lower }}">{{ column_weight }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_weight }}">{{ entry_weight }}{{ column_weight }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'volume' %}
                                                        <a href="{{ sort_volume }}"
                                                           class="{{ order|lower }}">column_volume {{ column_volume }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_volume }}">{{ entry_volume }} {{ column_volume }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'quantity' %}
                                                        <a href="{{ sort_quantity }}"
                                                           class="{{ order|lower }}">column_quantity {{ column_quantity }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_quantity }}">{{ entry_quantity }} {{ column_quantity }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'price' %}
                                                        <a href="{{ sort_price }}"
                                                           class="{{ order|lower }}">column_price {{ column_price }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_price }}">price {{ column_price }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">
                                                    {% if sort == 'number_packages' %}
                                                        <a href="{{ sort_number_packages }}"
                                                           class="{{ order|lower }}">column_number_packages {{ column_number_packages }}</a>
                                                    {% else %}
                                                        <a href="{{ sort_number_packages }}">{{ entry_number_packages }} {{ column_number_packages }}</a>
                                                    {% endif %}
                                                </td>

                                                <td class="text-center">action {{ column_action }}</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if (products) %}
                                                {% for product in products %}
                                                    <tr class="{{ product['class'] }}">
                                                        <td class="text-center">
                                                            {% if product.id in selected %}
                                                                <input type="checkbox" name="selected[]"
                                                                       value="{{ product.id }}" checked="checked"/>
                                                            {% else %}
                                                                <input type="checkbox" name="selected[]"
                                                                       value="{{ product.id }}"/>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-right">{{ product.sku }}</td>
                                                        <td class="text-left">{{ product.name }}</td>
                                                        <td class="text-right">{{ product.barcode }}</td>
                                                        <td class="text-right">{{ product.weight }}</td>
                                                        <td class="text-right">{{ product.volume }}</td>
                                                        <td class="text-right">{{ product.quantity }}</td>
                                                        <td class="text-right">{{ product.price }}</td>
                                                        <td class="text-right">{{ product.number_packages }}</td>
                                                        <td class="text-right"></td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td class="text-center" colspan="4">{{ text_no_results }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                                        <div class="col-sm-6 text-right">{{ results }}</div>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <label for="link_round">Какие ссылки показывать<span data-toggle="tooltip"
                                                                                         data-original-title="Фильтация ссылок"></span></label>


                                    {% for key, linkFilter in linkFilters %}
                                    <a href="{{ href }}{{ key }}">

                                        <p>
                                            <input type="radio" name="status"
                                                   value="{{ key }}" {{ linkFilter['checked'] }}
                                                   class="subForm">
                                            <label>{{ key }}:&nbsp;{{ linkFilter['name'] }} ({{ linkFilter['count'] }}
                                                )</label>
                                            {% endfor %}
                                        </p>
                                    </a>
                                    <div class="form-group col-sm-11">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <input type="text" value="{{ search_text }}" name="search_text" class="form-control">
                                                <button type="submit" name="search_button" data-toggle="tooltip"
                                                        class="btn btn-success"
                                                        data-original-title="Найти по подстроке"
                                                        title="Искать по видимым полям по подстроке">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                    <hr>
                                    <button name="export_1c" type="submit" data-toggle="tooltip" class="btn btn-success"
                                            data-original-title="Старт выгрузки"
                                            title="Выгрузка в Excel-файл для 1С">
                                        Выгрузка в 1С <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </button>
                                    <br>
                                    <button name="export_old" type="submit" data-toggle="tooltip"
                                            class="btn btn-success"
                                            data-original-title="Старт выгрузки"
                                            title="Выгрузка в Excel-файл для плагина import-export">
                                        Выгрузка для import-export <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </button>
{#                                    <br>#}
{#                                    <button name="getimage" type="submit" data-toggle="tooltip" class="btn btn-success"#}
{#                                            data-original-title="Старт выгрузки"#}
{#                                            title="Скачать файлы картинок с сайта-донора в каталог opencart image/catalog/ {{ modulname }}">#}
{#                                        Выгрузка картинок в каталог <i class="fa fa-sign-out" aria-hidden="true"></i>#}
{#                                    </button>#}
                                    <br>
                                    <button id="load_image" type="button" data-toggle="tooltip" class="btn btn-success"
                                            data-original-title="Старт выгрузки"
                                            title="Скачать файлы картинок с сайта-донора в каталог opencart image/catalog/ {{ modulname }}"
                                    onclick="ajaxpars();">
                                        Выгрузка картинок в каталог <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .progress {
        position: relative;
        margin-top: 9px;
    }

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }

    .float-right {
        float: right !important;
    }

    label > span:after {
        font-family: FontAwesome;
        color: #1E91CF;
        content: "\f059";
        margin-left: 4px;
    }
</style>
<script>
    function startGrab() {
        $("#progress").show();
        ajaxpars();
    }

    function ajaxpars() {
        $.ajax({
            url: '{{ ajax_link }}',
            dataType: 'json',
            type: "POST",
            async: true,
            beforeSend: function (answ) {
                alert('Процесс запущен. Результаты можно посмотреть в каталоге или в логе storage/logs/getimage.log \n\n (не забываем чистить логи)');
                $('#load_image').hide();
            },
            success: function (answ) {
                console.log(answ);
                alert('Готово');
            },
            complete: function (answ) {
                console.log(answ);
                alert('Готово');
            }
        });
    };
</script>
{{ footer }}